

.filme-info {
    color: #ffffff; /* Mantém a cor do texto para branco */
    max-width: 800px; /* Limita a largura máxima para melhor leitura */
    margin: 10px auto; /* Centraliza e adiciona margem para o topo e fundo */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    background-color: #343333; /* Um fundo mais escuro para contraste */
    border-radius: 8px; /* Bordas arredondadas para suavidade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    justify-content: flex-end;
}

.filme-info h1 {
    margin-bottom: 20px; /* Espaço abaixo do título */
    font-size: 2.5em; /* Tamanho maior para o título */
}

.filme-info img {
    display: block; /* Faz a imagem ser tratada como um bloco */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    border-radius: 6px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade à imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.filme-info h3 {
    margin-bottom: 10px; /* Espaço abaixo do subtítulo */
    font-size: 1.8em; /* Tamanho do subtítulo */
}

.filme-info span {
    display: block; /* Faz com que a sinopse ocupe sua própria linha */
    margin-bottom: 20px; /* Espaço abaixo da sinopse */
    line-height: 1.6; /* Espaçamento entre linhas para melhor leitura */
    text-align: justify; /* Justifica o texto da sinopse para uma aparência uniforme */
    font-size: 1.2em; /* Tamanho da fonte para a sinopse */
}

.filme-info strong {
    position: right;
    top: 50px; /* Ajuste conforme necessário para alinhar com os botões */
    right: 20px; /* Ajuste conforme necessário para posicionar à direita */
    font-size: 1.2em; /* Tamanho da fonte para a avaliação */
    padding: 5px 10px; /* Espaçamento interno para a tag de avaliação */
    background-color: #E50914; /* Fundo vermelho característico da Netflix */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    margin-left: 75%;
    margin-bottom: 20px; /* Espaço abaixo da avaliação */
}

.area-buttons button, .area-buttons a {
    
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 5px; /* Margem entre os botões */
    background-color: #E50914; /* Cor de fundo vermelha característica da Netflix */
    color: #fff; /* Cor do texto branco */
    border-radius: 4px; /* Bordas arredondadas */
    border: none; /* Sem borda */
    cursor: pointer; /* Cursor do tipo ponteiro */
    text-decoration: none; /* Remove o sublinhado do texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    transition: background-color 0.2s ease, transform 0.1s ease; /* Transição suave para hover */
    font-weight: bold; /* Deixa o texto em negrito */
}

.area-buttons button:hover, .area-buttons a:hover {
    background-color: #800a0a; /* Cor de fundo vermelha mais intensa no hover */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho no hover */
    color: #fff; /* Cor do texto branco */
}

@media (max-width: 768px) {

    .filme-info {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    .filme-info h1 {
        font-size: 2em; /* Ajusta o tamanho do título para telas menores */
    }

    .filme-info h3 {
        font-size: 1.5em; /* Ajusta o tamanho do subtítulo para telas menores */
    }
}
