

.filme-info {
    position: relative;
    color: #ffffff; /* Mantém a cor do texto para branco */
    max-width: 800px; /* Limita a largura máxima para melhor leitura */
    margin: 20px auto; /* Centraliza e adiciona margem para o topo e fundo */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    background-color: #343333; /* Um fundo mais escuro para contraste */
    border-radius: 8px; /* Bordas arredondadas para suavidade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    justify-content: flex-end;
}

.filme-info h1 {
    margin-bottom: 20px; /* Espaço abaixo do título */
    font-size: 2.5em; /* Tamanho maior para o título */
}

.filme-info img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    border-radius: 6px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade à imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.filme-info h3 {
    margin-bottom: 10px; /* Espaço abaixo do subtítulo */
    font-size: 1.8em; /* Tamanho do subtítulo */
}

.filme-info span {
    display: block; /* Faz com que a sinopse ocupe sua própria linha */
    margin-bottom: 20px; /* Espaço abaixo da sinopse */
    line-height: 1.6; /* Espaçamento entre linhas para melhor leitura */
    text-align: justify; /* Justifica o texto da sinopse para uma aparência uniforme */
}

.filme-info strong {
    position: right;
    top: 50px; /* Ajuste conforme necessário para alinhar com os botões */
    right: 20px; /* Ajuste conforme necessário para posicionar à direita */
    font-size: 1.2em; /* Tamanho da fonte para a avaliação */
    padding: 5px 10px; /* Espaçamento interno para a tag de avaliação */
    background-color: #E50914; /* Fundo vermelho característico da Netflix */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidade */
    margin-left: 70%;
}

.botao-salvar, .botao-trailer {
    font-weight: bold; /* Deixa o texto em negrito */
    margin-left: 20px;
    background-color: #E50914;
    border-radius: 4px;
    transition: background-color 0.1s ease, transform 0.1s ease;
    display: inline-block;
    border: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.botao-salvar:hover, .botao-trailer:hover {
    background-color: #B20710;
    color: #ffffff;
}

@media (max-width: 768px) {

    .filme-info {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    .filme-info h1 {
        font-size: 2em; /* Ajusta o tamanho do título para telas menores */
    }

    .filme-info h3 {
        font-size: 1.5em; /* Ajusta o tamanho do subtítulo para telas menores */
    }
}
    .botao-salvar {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
        padding: 8px 16px; /* Ajusta o espaçamento interno para telas menores */
        right: 10px; /* Ajusta a posição à direita para telas menores */
        top: 10px; /* Ajusta a posição no topo para telas menores */
    }

    .botao-trailer {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
        padding: 8px 16px; /* Ajusta o espaçamento interno para telas menores */
        margin-right: 10px; /* Ajusta a margem à direita para telas menores */
    }

@media (max-width: 768px) {

    .filme-info {
        padding: 10px; /* Reduz o padding em telas menores */
    }

    .filme-info h1 {
        font-size: 2em; /* Ajusta o tamanho do título para telas menores */
    }

    .filme-info h3 {
        font-size: 1.5em; /* Ajusta o tamanho do subtítulo para telas menores */
    }
}
    .botao-salvar {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
        padding: 8px 16px; /* Ajusta o espaçamento interno para telas menores */
        right: 10px; /* Ajusta a posição à direita para telas menores */
        top: 10px; /* Ajusta a posição no topo para telas menores */
    }

    .botao-trailer {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
        padding: 8px 16px; /* Ajusta o espaçamento interno para telas menores */
        margin-right: 10px; /* Ajusta a margem à direita para telas menores */
    }