*{ /* Aplica as regras a seguir a todos os elementos */
  padding: 0; /* Remove o preenchimento interno */
  margin: 0; /* Remove a margem externa */
  box-sizing: border-box; /* Faz com que largura e altura incluam o preenchimento e a borda */
}

body{ /* Aplica as regras a seguir ao elemento <body> */
  font-family: 'Roboto', sans-serif; /* Define a fonte padrão como 'Roboto', com fallback para qualquer fonte sans-serif */
  background-color: #141414; /* Define a cor de fundo como preta */
}

.app{ /* Aplica as regras a seguir ao elemento com a classe 'app' */
  display: flex; /* Define o tipo de exibição como flexível, permitindo o uso de flexbox */
  width: 100%; /* Define a largura como 100% do elemento pai */
  justify-content: center; /* Centraliza os itens no eixo principal (horizontal) */
  align-items: center; /* Centraliza os itens no eixo cruzado (vertical) */
  flex-direction: column; /* Define a direção dos itens como coluna (vertical) */
}